*{
    padding: 0;
    margin: 0;
}

body{
    max-width: 1000px;
    margin: auto;
}

.banner{
    width: 100%;
}

.second_container{
    background-color: #CCCCCC;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.paragraph{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}